In [ ]:

create table test_table(c1 int,c2 VARCHAR(20))

#What is a database? Differentiate between SQL and NoSQL databases.
#database is like a folder in which we can create tables, views, store procedures to store data and perform data analysis by writing sql queries.
# SQL is structured query language , NO SQL is not structured language
# SQl has pre defined schema and structure to store data.
# NO SQL has no predefined schema 

#Q2 What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
# DDl is data definetion language
# Create is used to create an object in sql data base.

create table test_table(c1 int,c2 VARCHAR(20))

# Drop :- is used to delete the object from data base.

drop table test_table

# Alter :- it is used to alter object in database, view or store procedure ,it can be used in tales to chnage column datatype or name.

# Truncate :- it is used to delete all records from a table.
 Truncate table test_table


#Q3 What is DML? Explain INSERT, UPDATE, and DELETE with an example.

 # DML :- is data manupulation langusge , means it can chnage value from an object like tables.

 # Insert:- this command is used to insert data inside table BIGINT
  insert into test_table values(1,'mohak')

#update :- this command is used to update any record in a table
 update test_table set c2='MK' where c1=1
 select * from test_table

 # delete :- this is used to delete a record from a table BIGINT
 delete from test_table where c1=1

 #Q4 What is DQL? Explain SELECT with an example.

 #DQL is used to fetch data from view or table
 select * from test_table


 #Q5 Explain Primary Key and Foreign Key.

 #Primary Key :-
 # 1. A primary key must be unique within the table. No two records can have the same primary key value.
 # 2. primary key must have a non-null value. 
 # 3. Primary keys are usually indexed by the database system

 # FOREIGN Key:-
 # 1. A foreign key creates a link or reference between two tables, typically between the primary key of one table and a field in another table.
 # 2. Foreign keys are commonly used to establish a many-to-one relationship between tables, where multiple records in one table can refer to a single record in another table

 #Q7
 # From 
 # Join
 # Where
 # Group by
 # having
 # select
 # distinct
 # order by
 
    
    #Q6 
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("Create table Test2.table1 (C1 int)")
mydb.close()


# Cursor is used as a pointer to fetch data one by one from database.
# Execute is used to execute the sql command.